/* reset 영역 */
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #222438;
    font-family: "맑은 고딕", sans-serif;

}
a{
    text-decoration: none;
}

/* common 일반적인 사항 */
body{
    width: 1000px;
    background: #fff;
    font-size: 20px;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/* header 영역 */
header{
    float: left;
    
}

header .top{
    height: 650px;
    width: 200px;
    /* background: orange; */
}

header .top .logo{
    width: 100%;
    height: 40px;
    margin: 30px 0 ;   
}
header .top .menu{
    width: 95%;
    text-align: center;
    background: tomato;
}
header .top .menu .navi li{
    /* height: 40px; */
    /* border: 3px solid #000; */
    box-sizing: border-box;
    
    font-size: 16px;
    font-weight: 700;
    background: #222328;
    
}
header .top .menu .navi li a{
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
}
header .top .menu .navi li a:hover{
    background: #930930;
    color: #ff0;
}

/* 이미지 슬라이드 영역 */
.imgslide{
    float: right;
    width: 800px;
    height: 350px;
    position: relative;
}
.imgslide .imgtext{
    display: block;
    width: 300px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    background: rgba( 40,40,40,0.3);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* 메인컨텐츠영역 */
.content{
    /* background: red; */
    float: right;
    width: 800px;
    margin-top: 10px;
    position: relative;
}
/* 메인-공지사항 */
.content .notice{
    /* background: skyblue; */
    float: left;
    width: 38%;
    margin-right: 1%;
}
.content  h2{   
    width: 80px;
    height: 30px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    background: #000;
    line-height: 30px;
    text-align: center;
    
    position: absolute;
    left: 0;
    top: 0;
}
.content .notice ul{
    /* background: greenyellow; */
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #ccc;
}
.content .notice ul li{
    box-sizing: border-box;
    /* border: 2px solid #000; */
    padding: 8px 0;
}
.content .notice ul li:nth-child(even){
    background: #ccc;
}
.content .notice ul li:hover a{
    font-weight: 700;
}
.content .notice ul li span{
    float: right;
}

/* 메인-갤러리 */
.content .gallery{
    /* background: yellow; */
    float: left;
    width: 38%;
    margin-right: 3%;
    position: relative;
}
.content .gallery ul{
    padding: 15px 8px;
    /* background: skyblue; */
    margin-top: 30px;
    border-top: 1px solid #ccc;
}

.content .gallery ul li{
    float: left;
    width: 30%;
    height: 90px;
    /* background: orange;
    border: 3px solid #000;
    box-sizing: border-box; */
    overflow: hidden;
    margin-right: 5%;
}
.content .gallery ul li:last-child{
    margin-right: 0;
}
.content .gallery ul li img{
    width: 100%;
    /* height: 110px; */
    }
    .content .gallery ul li:hover{
        opacity: 0.5;
    }
/* 메인-바로가기 */
.content .shortcut{
    /* background: green; */
    float: left;
    width: 20%;
    position: relative;
}
.content .shortcut img{
    width: 100%;
}
.content .shortcut .sctext{
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    background: rgba(40, 40, 40, 0.3);
    padding: 5px 10px;

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% , -50%);

}

/* 하단푸터영역 */
footer{
    background: #aaa;
    float: right;
    width: 800px;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
}
footer .copy{
    /* background: orange; */
    float: left;
    width: 80%;
    text-align: center;
    font-size: 16px;

    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
}

footer .site{
    /* background: skyblue; */
    float: right;
    width: 20%;
    padding: 0 5px;
}
footer .site .sns {
    /* background: greenyellow; */
    
}
footer .site .sns ul li{
    float: left;
    width: 28%;
    margin-right: 4%;
}
footer .site .sns ul li:hover{
    opacity: 0.5;
}
footer .site .sns ul li:first-child{
    margin-left: 4%;
}
footer .site .sns ul li img{
    width: 100%;
}
footer .site .familysite{
    /* background: yellow; */
    margin-top: 5px;
}
footer .site .familysite select{
    width: 100%;
    height: 30px;
}













